.iamge-url {
    width: 40%;
    margin: auto;
    h2 {
      margin: 30px;
    }
    .btn-primary {
      width: 100%;
    }
  }

  .image-layout{
    text-align: center;
    margin-top: 20px;
    img { 
        width: 180px; 
    }
    .comments{
        margin-top: 20px;
    }
  }